.slider__section {
    background-image: linear-gradient(to top, #f9b43b, #eb8c38, #f9b43b);
}

.slider__container {
    display: flex;
    /* justify-content: center; */
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow {
    padding-top: 100px;
}
.slider__content {
    width: 1100px;
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    /* padding-right: 50px; */
    align-items: center;
    /* padding-right: 200px;
    padding-left: 200px; */
}

.slider__price {
    font-family: 'ubuntu-bold';
    color: #e35028;
}

.slider__title,
.slider__desc {
    color: white;
}

.slider__price,
.submit__btn 
.price__title,
.price__val {
    display: inline;
}

.price__title {
    font-size: 55px;
}

.price__val {
    font-size: 30px;
}

.slider__right {
    padding-left: 30px;
    flex: 1;
}


.slider__btn {
    margin-left: 50px;
    text-transform: uppercase;
    border-color: transparent;
}

.slider__img {
    width: 330px;
}